@charset "utf-8";

/*主题内容*/
.st-box { font-family: Georgia, serif; }
.st-box>nav li, .st-tag li{ display: inline-block; margin-right: 10px; }
.st-box>.hd{
    margin: 0;
    border-bottom: 3px solid #298bb7;
    padding-bottom: 5px;
}
.st-box > nav, .st-box > .bd{
    border: 1px solid rgb(205, 205, 205);
    border-top: 0;
    background-color: #fff;
}
.st-number { color: #298bb7; font-size: 1.6em; font-style: oblique; }
.st-item { position: relative; overflow: hidden; }
.st-item aside { 
    position: static;
    padding-left: 25px;
}
.st-item button { position: absolute; bottom: 0; } 
.st-logo { font-size: 0; padding-right: 25px;}
.st-logo a{
    display: inline-block;
    max-width: 100%;
    width: 100%;
    height: inherit;
    padding-top: 100%;
    background-position: top center;
    background-size: cover;
    -webkit-border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    border-radius: 50% 50%;
}
.st-box>.bd li{
    padding: 20px 0;
    overflow: hidden;
    border-top: 1px dashed #cdcdcd;
}
.st-box>.bd li:first-child { border: none; }
.st-info {
    border-right: 1px solid rgba(205, 205, 205, 0.42);
    padding-right: 25px;
    color: #666;
}
.st-info p { 
    line-height: 1.6em;
    letter-spacing: 1px;
}
.st-name {
    font-size: 1.1em;
    font-weight: 700;
}
.new-event {
    display: inline-block;
    padding: 5px 8px;
    background-color: rgba(197, 197, 197, 0.25);
    border-left: 3px solid #1871c5;
}
.st-tag li { padding: 0 !important; border: 0 !important; }
.st-tag a {
    position: relative;
    display: block;
    padding: 3px 6px;
    color: #555;
    font-weight: 700;
    font-size: .95em;
    background-color: #dbebec;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*内容头部导航*/
.st-classTag {
    background-color: #f0f6fb;
    border-bottom: 1px solid #cdcdcd;
    padding: 0 10px;
    padding-top: 5px;
    font-size: 1.2em;
}
.st-classTag li { margin-right: 15px; display: inline-block; }
.st-classTag a { display: inline-block; }
.st-classTag a.active {
    padding: 6px 8px;
    border: 2px solid #cdcdcd;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    margin-bottom: -1px;
}
.st-order {
    border-bottom: 1px solid rgba(205, 205, 205, 0.28);
    padding-bottom: 10px;
}
.st-order, .st-eventOrder { margin: 10px 10px; }
.st-eventOrder li:first-child, .st-order li:first-child {
    padding: 5px 8px;
    margin-right: 10px;
    background-color: #ffffd1;
}
.st-order a, .st-eventOrder a { color: #333; }
.st-order a.active, .st-eventOrder a.active {
    padding: 2px 4px;
    color: #2a6496;
    background-color: #dbebec;
}

/*社团主页*/
.st-index .st-main {

}
.st-moreInfo .nav .item {
    display: inline-block;
}
.st-hdInfo { padding-top: 20px; padding-bottom: 20px; }
.st-hdInfo,
.st-moreInfo .con{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    border: 1px solid #cdcdcd;
}

/*选项卡*/
.st-moreInfo .nav a{
    display: inline-block;
    color: #555;
    padding: 5px;
    border: 1px solid #cdcdcd;
    /*border-bottom: none;*/
    background-color: #fff;
    
}
.st-moreInfo .nav a.active { 
    padding-bottom: 6px;
    font-weight: 700; 
    background-color: #E5EDF2; 
    border-bottom: none;
}
.bottom-bgColor { 
    height: 5px; 
    background-color: #E5EDF2; 
    border:1px solid #cdcdcd; 
    border-bottom: none; 
}

/*社团动态*/
.st-newslist .post-tiem, 
.st-newslist .reply-number{
    color: #999;
    padding-left: 20px;
    background-image: url('../images/clock-flag.png');
    background-repeat: no-repeat;
    background-position: left center;
    vertical-align: middle;
    font-family: 'Microsoft YaHei',\5b8b\4f53,arial;
}
.st-newslist .post-tiem { background-image: url('../images/clock-flag.png'); }
.st-newslist .reply-number { 
    background-image: url('../images/reply-icon.png'); 
    background-position: left 4px; 
    cursor: pointer;
}
.st-newslist .reply-number:hover {background-position: left -19px; }
.st-newslist li { 
    overflow: hidden; 
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #E5E5E5;
}
.st-newslist .main-con { font-size: 1.2em; font-family: 'Microsoft YaHei'; }
.st-newslist .con-bottom { margin-top: 10px; }
.reply-con .item {
    padding: 10px 15px;
    background-color: #F7F7F7;
}
.reply-con .u-photo{
    width: 36px;
    padding: 2px;
    border: 1px solid #cdcdcd;
    background-color: #fff;
    border-radius: 0;
    margin-right: 10px;
}
.reply-name {
    font-size: inherit;
    padding-bottom: 5px;
}
.reply-p { font-size: .9em; }