@charset "utf-8";

/*侧边栏*/
.u-side{
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: #fff;
    padding-bottom: 20px;
    
    border-radius: 5px;
    box-shadow: 0px 1px 8px rgba(205, 205, 205, 0.54);
}
.u-myName { margin-top: 10px; }
.u-name {
    padding-top: 10px;
    font-size: .8em;
}
.u-box>h4{ 
    font-size: 1.2em; 
    margin-top: 15px;
}
.u-box>ul{
    font-size: 1em;
    text-indent: 2em;
}

/*main右侧*/
.get-sectionBox { padding-right: 0; }
.u-setInfo, .u-myPassw,
.u-main .conBox {
    background-color: #fff;
    border: 1px solid rgb(221, 221, 221);
    min-height: 492px; 
    /*475px*/
    padding-top: 20px;

    box-shadow: 0px 1px 8px rgba(205, 205, 205, 0.54);
}
.u-setInfo { min-height: 515px; }
.u-setInfo .nav-pills {margin-bottom: 15px; }
.u-main .conBox { padding: 20px 15px }

/*表格*/
.u-main .table td{
    /*???*/
    width: 1px;
    max-width: 10%;
    min-width: 40px;
    text-align: right;
    vertical-align: middle;
    border-top: none;
    white-space: nowrap;
}
.u-main .table td:first-child { font-weight: 700; }
.u-main .table td:nth-of-type(2n){
    text-align: left;
}
.u-main .form-control { display: inline-block; width: auto; }
.u-main .nav-tabs>li,
.u-setInfo .nav-pills>li {
    display: inline-block;
    float: none;
}
.u-main .classTag {
    background-color: #f0f6fb;
    border: 1px solid #cdcdcd;
    padding: 0 10px;
    padding-top: 5px;
}
.u-main .classTag li { margin-right: 15px; display: inline-block; }
.u-main .classTag a { display: inline-block; }
.u-main .classTag li.active>a {
    padding: 6px 8px;
    border: 2px solid #cdcdcd;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    margin-bottom: -1px;
}

/*上传头像*/
.upload-photo { display: inline-block; margin: 15px 0; }
.upload-photo .main-left {
    width: 360px;
    height: 300px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #cdcdcd;

    background-image: url('../images/upload-bg.png');
    background-repeat: repeat;
}
.upload-photo .side-right {
    position: relative;
    display: table-cell;
    padding-left: 30px;
}
.upload-photo .side-right>p{ color: #e57708; }
.upload-photo .side-right:before{
    content: "";
    display: block;
    position: absolute; left: 15px;
    width: 1px;
    height: 100%;
    vertical-align: middle;
    background-color: #cdcdcd;
}
.photo-sm>img{ width: 138px; height: 138px;  }
.photo-xs>img{ width: 68px; height: 68px;  }

/*选项卡*/
.u-uploadAdd {
    width: 80%;
    margin: 0 auto 20px;
}
.u-main .nav-classTag .fr { margin-top: 6px; }

/*留言板*/
.u-guestBookBox>.con li { padding: 2px 0; }
.u-guestBookBox>.con li>span { b 
    font-size: 1.2em;
    line-height: 1em;
    color: #666;
}


/*我的社团*/
.u-main .st-classTag { border-top: 1px solid #cdcdcd; font-size: 1em;}
.u-main .st-classTag .active { color: #333 }
.u-stBox .new-event { padding-top: 0; padding-bottom: 0; }
.u-stBox .u-hd,
.u-main>.u-hd { margin-top: 3px; font-size: 1.2em; margin-bottom: 5px; }
.conBox .table>thead>tr>th {
    background-color: rgba(205, 205, 205, 0.27);
    border-bottom-color: rgba(221, 221, 221, 0.27);
}
.conBox .table>tbody>tr { border-bottom: 1px dashed #cdcdcd; }
.table-num1, 
.table-num2, 
.table-num3, 
.table-num4, 
.table-num5,
.table-num6 { max-width: 50% !important; text-align: left; }
.table-num1{ min-width: 50% !important; text-align: left !important; }
.table-num2{ width: 10% !important; }
.table-num3{ width: 12% !important; text-align: left !important; }
.table-num4{ width: 12% !important; }
.table-num5{ width: 10% !important; text-align: left !important; }
.table-num6{ width: 30% !important; }
.td-name { font-size: 1.1em; }

.conBox .pager a {
    padding: 2px 6px;
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*设置我的信息*/
.u-setNmae input, 
.u-studentId input, 
.u-realname input {
    height: 28px;
    padding: 2px 5px;
}
#setName-btn {
    color: #428bca;
    cursor: pointer;
}

/*我的私信*/
.u-messageBox .post-con {
    width: 360px;
    height: 150px;
}


/*设置社团*/
.u-stAdmin .u-side { padding-bottom: 10px; }
.u-stAdmin .u-myName img {
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
}
.u-stAdmin .side-nav li{
    font-size: 1.2em;
    margin: 10px auto;
    text-align: center;
}
.u-stAdmin li span.glyphicon {
    font-size: .9em;
}
.u-stAdmin .side-nav li a { color: inherit; }
.u-stAdmin .u-stBox .u-hd {
    font-size: 1.3em;
    margin: 0;
    padding: 15px;
    border: 1px solid rgb(221, 221, 221);
    border-bottom: none;
    background-color: rgb(241, 241, 241);

    box-shadow: 0px 1px 8px rgba(205, 205, 205, 0.54);
}
.u-setSt .conBox .table>tbody>tr { border: none; }
.u-setSt .conBox .table td:first-child { width: 10% !important; max-width: 100%; min-width: auto; }
/*部门管理*/
.u-setSt .branch_con .hd {
    margin: 0;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0px 1px 8px rgba(205, 205, 205, 0.54);
}
.u-setSt #add_branch {
    border: 1px solid #cdcdcd;
    border-radius: 8px;
    padding: 4px 10px;
    margin-top: -5px;
    cursor: pointer;
    background-color: #186ec5;
    color: #fff;
}
.u-setSt .activeInput{
    position: absolute;
    top: 1px; 
    border: none;
    background: rgba(0, 0, 0, 0);
    max-width: 100%;
    width: 100%;
    padding: .2em 1.2em;
    text-align: center;
}
.u-setSt .activeInput + .fontClose{
    color:rgba(255, 255, 255, 0);
}
.u-setSt .branch_list{
    padding: 20px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0px 1px 8px rgba(205, 205, 205, 0.54);
}
.u-setSt .branch_list .btn-group button{
    min-width: 80px;
    min-height: 27.59px;
    padding: .2em 1em;
    border: 1px solid #cdcdcd;
    background-color: rgba(241, 241, 241, .8);

    border-radius: 15px;
    box-shadow: 0px 1px 8px rgba(205, 205, 205, 0.54);
}
.u-setSt .branch_list .btn-group button:hover {
    background-color: rgba(220, 220, 220, .7);
}
.u-setSt .branch_list .btn-group { margin-left: 20px; }
.u-setSt .branch_list .btn-group:first-child { margin-left: 0; }
.u-setSt .branch_list .dropdown-menu {
    text-align: center;
    width: 100%;
    min-width: auto;
    font-size: .9em;
}
.u-setSt .branch_list .dropdown-menu a { font-size: inherit; padding: 3px 10px; }
.u-setSt .up_summaryName { max-width: 100%; }
.u-setSt .modal-header{
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    background-color: rgb(241, 241, 241);
    font-weight: 700;

    border-radius: 5px;
}
.u-setSt .modal-sm {
    margin-top: 210px;
}

/*活动管理*/
.u-setEvent .u-main .conBox { padding: 30px 40px; }
.u-setEvent .item {
    background-color: #f5f5f5;
    margin-top: 20px;
    padding: 20px 20px 0;
    box-shadow: 0 2px 3px 1px rgba(0,0,0,.1);
}

.u-setEvent .item .hd {
    position: relative;
    width: 28%;
    min-height: 100%;
    margin-right: 3%;
}
.u-setEvent .item .hd>a {
    display: block;
    width: 100%;
    padding-top: 58%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.u-setEvent .item .bd {
    margin-left: 28%;
    padding: 5px 30px 0 20px;
}
.u-setEvent .item .bd>h4 {
    font-size: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.u-setEvent .item .bd p { color: #888; }
.u-setEvent .side-info {
    position: absolute;
    text-align: right;
    right: 0; bottom: 0;
}
.u-setEvent .item .act-pag {
    position: relative;
    display: block;
    clear: both;
    width: 100%;
    max-width: 100%;
    padding-top: 30px;
}
.act-pag .more-countDown .table,
.u-setMember .conBox .table {
    background-color: #fff;
    border: 1px solid #eaeaea;
}
.act-pag .more-countDown .table th,
.u-setMember .conBox .table th { text-align: center !important; }
.act-pag .more-countDown .table td,
.u-setMember .conBox .table td { font-size: .95em; text-align: center !important; }
.act-pag .more-countDown .table>tbody>tr { border: 1px dashed rgba(212, 209, 209, 0.25);}
.more-countDown .glyphicon-cog {
    color: #888;
    cursor: pointer;
}
.more-countDown .glyphicon-cog:hover { color: #666; }
.more-countDown .btn-group .dropdown-menu,
.u-setMember .conBox .table .btn-group .dropdown-menu{
    min-width: auto;
    left: auto;
    right: 0;
    font-size: .9em;
}
.more-countDown .btn-group .dropdown-menu>li>a { font-size: inherit; }
.more-countDown .table .even_enrolFalseBtn,
.u-setMember .conBox .table .even_enrolFalseBtn { color: #fb7f79; font-weight: 700; }
.even-infoTop .btn-group.open .dropdown-toggle { box-shadow: none; }

/*社团成员管理*/
/*.u-setMember */